<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rims home</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
  <body>
    <div id="root"></div>
    <script src="main.js" type="text/javascript"></script>
          <h1>Home Page</h1>
              <div class="md-4">
                <h3>What This Is:</h3>
                    <p>
                        This is a new inventory management system for the robotics program. It
                        will assist in making sure that we have enough resources and helping with
                        shop organization. This system will help everything move as smoothly and
                        effectively as possible during both the school year and the FRC season.
                    </p>
            </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
